/*
** Helper Utilities
*/
@import 'helpers/helpers_layout';
@import 'helpers/helpers_colors';
@import 'helpers/helpers_spacing';


.offset-big-right{
  transform: translateX(200px);
  @media(max-width: 1700px){
    transform: translateX(100px);
  }
  @media(max-width: 1450px){
    transform: translateX(50px);
  }
  @media(max-width: 1100px){
    transform: translateX(20px);
  }
  @media(max-width: 991px){
    transform: translateX(0px);
  }
}
.offset-big-left{
  transform: translateX(-200px);
  @media(max-width: 1700px){
    transform: translateX(-100px);
  }
  @media(max-width: 1450px){
    transform: translateX(-50px);
  }
  @media(max-width: 1100px){
    transform: translateX(-20px);
  }
  @media(max-width: 991px){
    transform: translateX(0px);
  }
}
.offset-small-right{
  transform: translateX(100px);
  @media(max-width: 1700px){
    transform: translateX(50px);
  }
  @media(max-width: 1450px){
    transform: translateX(50px);
  }
  @media(max-width: 1100px){
    transform: translateX(20px);
  }
  @media(max-width: 991px){
    transform: translateX(0px);
  }
}
.offset-small-left{
  transform: translateX(-100px);
  @media(max-width: 1700px){
    transform: translateX(-50px);
  }
  @media(max-width: 1450px){
    transform: translateX(-50px);
  }
  @media(max-width: 1100px){
    transform: translateX(-20px);
  }
  @media(max-width: 991px){
    transform: translateX(0px);
  }
}

