//color schemes
//1
$styleNumber: '';

$colorMain: #e7c900;
$colorMain2: #75bd18;
$colorMain3: #0078e7;
$colorMain4: #e43760;
//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;