//color schemes
//2
$styleNumber: '2';
$colorMain2: #e7c900;
$colorMain: #75bd18;
$colorMain3: #0078e7;
$colorMain4: #e43760;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;