//color schemes
//3
$styleNumber: '3';
$colorMain3: #e7c900;
$colorMain2: #75bd18;
$colorMain: #0078e7;
$colorMain4: #e43760;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;