/*Dividers, margins and padding helpers*/
$spacing-values: -70 -65 -60 -50 -45 -40 -35 -30 -25 -20 -15 -10 -5 7 8 9 10 15 20 30 35 40 45 50 60 70 80 90 100 108 110 115 120 125 130 140 150 155 160 170 175 200;
/* margins */
/*top&bottom equal margins - dividers*/
@each $value in $spacing-values {
  .my-#{$value} {
    margin-top: #{$value}px;
    margin-bottom: #{$value}px;
  }
}

/*left&right equal margins*/
@each $value in $spacing-values {
  .mx-#{$value} {
    margin-left: #{$value}px;
    margin-right: #{$value}px;
  }
}

/*top margins*/
@each $value in $spacing-values {
  .mt-#{$value} {
    margin-top: #{$value}px;
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .mt-#{$breakpoint-abbr}-#{$value} {
        margin-top: #{$value}px !important;
      }
    }
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .mb-#{$breakpoint-abbr}-#{$value} {
        margin-bottom: #{$value}px !important;
      }
    }
  }
}


/*bottom margins*/
@each $value in $spacing-values {
  .mb-#{$value} {
    margin-bottom: #{$value}px;
  }
}

/*top right bottom left margins*/
@each $value in $spacing-values {
  .m-#{$value} {
    margin: #{$value}px;
  }
}

/* paddings */
/*top&bottom equal paddings - dividers*/
@each $value in $spacing-values {
  .py-#{$value} {
    padding-top: #{$value}px;
    padding-bottom: #{$value}px;
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .py-#{$breakpoint-abbr}-#{$value} {
        padding-top: #{$value}px;
        padding-bottom: #{$value}px;
      }
    }
  }
}

/*left&right equal paddings*/
@each $value in $spacing-values {
  .px-#{$value} {
    padding-left: #{$value}px;
    padding-right: #{$value}px;
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .px-#{$breakpoint-abbr}-#{$value} {
        padding-left: #{$value}px;
        padding-right: #{$value}px;
      }
    }
  }
}

/*top paddings*/
@each $value in $spacing-values {
  .pt-#{$value} {
    padding-top: #{$value}px;
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .pt-#{$breakpoint-abbr}-#{$value} {
        padding-top: #{$value}px;
      }
    }
  }
}

/*bottom paddings*/
@each $value in $spacing-values {
  .pb-#{$value} {
    padding-bottom: #{$value}px;
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .pb-#{$breakpoint-abbr}-#{$value} {
        padding-bottom: #{$value}px;
      }
    }
  }
}

/*top right bottom left paddings*/
@each $value in $spacing-values {
  .p-#{$value} {
    padding: #{$value}px;
  }
}
@each $breakpoint-abbr, $breakpoint-value in $grid-breakpoints {
  @media (min-width: #{$breakpoint-value}) {
    @each  $value in $spacing-values {
      .p-#{$breakpoint-abbr}-#{$value} {
        padding: #{$value}px;
      }
    }
  }
}