.img-wrap{
  &.absolute-image{
    margin-bottom: 70px;
    margin-right: 70px;
    overflow: visible;
    position: relative;
    img:nth-child(2){
      position: relative;
      z-index: 6;
      transition: all 0.6s ease-in-out;
      animation: image-animation 1s linear;

    }
    img:nth-child(1){
      position: absolute;

      left: 70px;
      right: 0;
      top: 70px;
      bottom: 0;
      z-index: 5;
      transition: all 0.6s ease-in-out;
      animation: image-animation2 1s linear;

      &:hover{
        animation: image-animation 1s linear;
        z-index: 7;
        & + img{
          animation: image-animation2 1s linear;
          z-index: 5;
        }
      }
    }
  }
}

@keyframes image-animation {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX( calc(25% - 70px) );
    opacity: 0.5;

  }
  50% {
    transform: translateX( calc( 50% - 35px ) );
    z-index: 7;
    opacity: 0.25;
  }
  75% {
    transform: translateX( calc(25% - 35px) );
    z-index: 7;
    opacity: 0.5;
  }
}
@keyframes image-animation2 {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX( -25% );
    opacity: 0.5;

  }
  50% {
    transform: translateX( -50% );
    z-index: 5;
    opacity: 0.25;
  }
  75% {
    transform: translateX(-25% );
    z-index: 5;
    opacity: 0.5;
  }
}
